<div align="center">
	<h2>Servicios disponibles</h2>
	<ul class="nav nav-pills nav-stacked" ng-if="esAdmin()">
		<li role="presentation"><a href="#!estadoUsuario">Cambiar estado usuario</a></li>
		<!-- <li role="presentation"><a href="#!prestamo">Estudiar prestamo</a></li> -->
		<li role="presentation"><a href="#!dispositivos">Ver dispositivos</a></li>
		<li role="presentation"><a href="#!registrarDispositivo">Registrar dispositivo </a></li>
		<li role="presentation"><a href="#!ejemplares">Ver ejemplares</a></li>
		<li role="presentation"><a href="#!registrarEjemplar">Registrar ejemplar</a></li>
		<li role="presentation"><a href="#!removerEjemplar">Remover ejemplar</a></li>
		<li role="presentation"><a href="#!comprobar-entrega">Confirmar entrega</a></li>
		<li role="presentation"><a href="#!comprobar-devolucion">Confirmar devolucion</a></li>		
	</ul>
	
	<ul class="nav nav-pills nav-stacked" ng-if="!esAdmin()">
		<li role="presentation"><a href="#!prestamo">Solicitar Dispositivos</a></li>
	</ul>
</div>