<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2>Inscribir nuevo ejemplar</h2>
		<br>
		<form name="formEditUser">
			<label>Dispositivo asociado:</label>
			<br>
			<input type="number" placeholder="Codigo dispositivo" required ng-model="idDisp" class="form-control">
			<br><br>
			<label>Estado del ejemplar:</label>
			<br>
			<select ng-model="estadoEjem" required class="form-control">
				<option value="">Seleccionado</option>
				<option value="1">Disponible</option>
				<option value="2">En reparacion</option>
				<option value="3">Dado de baja</option>
				<option value="4">Prestado</option>
			</select>
			<br><br>
			<center>
			<button type="submit" class="btn btn-primary" ng-click="guardarEjemplar()" >Aceptar</button>
			</center>
		</form>
	</div>
</div>